.container {
    margin-top: 20px;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.card h4 {
    margin-bottom: 15px;
}

.card p {
    margin: 5px 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin: 5px 0;
}

.card ul li a {
    text-decoration: none;
    color: #007bff;
}

.card ul li a:hover {
    text-decoration: underline;
}